<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# FEC - Cr√©ation du dataset "Evolution CA"

**Tags:** #fec #finance #snippet #operation #ca #revenue

**Author:** [Florent Ravenel](https://www.linkedin.com/in/florent-ravenel/)

**Description:** Ce notebook permet de cr√©er le dataset pour visualiser l'√©volution du CA entre l'ann√©e N et l'ann√©e N-1.

## Input

### Import libraries

In [1]:
import naas_data_product

‚úÖ utils file '/home/ftp/FEC-engine/utils/datalake.ipynb' successfully loaded.

### Setup Variables

In [2]:
# Inputs
input_folder_path = "/home/ftp/FEC-engine/outputs/FEC/bdd_fin"

# Outputs
output_folder_path = "/home/ftp/FEC-engine/outputs/FEC/dataset_evolution_ca"

## Model

### R√©cup√©ration du dernier fichier input

In [3]:
df_input = get_last_df(input_folder_path)
print("‚úÖ Row fetched:", len(df_input))
df_input.head(1)

üìÅ Last file: /home/ftp/FEC-engine/outputs/FEC/bdd_fin/20230601154259_FEC_bdd_fin.csv
‚úÖ Row fetched: 4532

,NOM_FICHIER,ENTITY,PERIOD,DATE,MONTH,MONTH_INDEX,COMPTE_NUM,RUBRIQUE_N3,RUBRIQUE_N4,DEBIT,CREDIT,VALUE
0,000000000FEC20181231.txt,000000000,201812,2018-01-01,Jan,1,20500000,"BREVETS, LICENCES, LOGICIELS..",A Nouveau,4006.6,0.0,4006.6

### Cr√©ation du dataset "EVOLUTION_CA"

In [4]:
# Creation du dataset evol_ca
dataset_evol_ca = df_input.copy()

# Filtre COMPTE_NUM = Chiffre d'Affaire (RUBRIQUE N1)
dataset_evol_ca = dataset_evol_ca[
    dataset_evol_ca["COMPTE_NUM"].str.contains(r"^70|^71|^72")
]

# Regroupement
to_group = ["ENTITY", "PERIOD", "MONTH", "MONTH_INDEX", "RUBRIQUE_N3"]
to_agg = {"VALUE": "sum"}
dataset_evol_ca = dataset_evol_ca.groupby(to_group, as_index=False).agg(to_agg)

dataset_evol_ca["VALUE"] = dataset_evol_ca["VALUE"].abs()


# Calcul de la somme cumul√©e
dataset_evol_ca = dataset_evol_ca.sort_values(
    by=["ENTITY", "PERIOD", "MONTH_INDEX"]
).reset_index(drop=True)
dataset_evol_ca["MONTH_INDEX"] = pd.to_datetime(
    dataset_evol_ca["MONTH_INDEX"], format="%m"
).dt.strftime("%m")
dataset_evol_ca["VALUE_CUM"] = dataset_evol_ca.groupby(
    ["ENTITY", "PERIOD"], as_index=True
).agg({"VALUE": "cumsum"})


dataset_evol_ca["VALUE_D"] = (dataset_evol_ca["VALUE"] / 1000).map("{:,.1f} k‚Ç¨".format).str.replace(",", " ")
dataset_evol_ca["VALUE_CUM_D"] = (dataset_evol_ca["VALUE_CUM"] / 1000).map("{:,.1f} k‚Ç¨".format).str.replace(",", " ")

# Affichage du mod√®le de donn√©e
dataset_evol_ca

,ENTITY,PERIOD,MONTH,MONTH_INDEX,RUBRIQUE_N3,VALUE,VALUE_CUM,VALUE_D,VALUE_CUM_D
0,000000000,201712,Jan,01,PRODUITS FINIS EXON√âR√âS,42550.15,42550.15,42.6 k‚Ç¨,42.6 k‚Ç¨
1,000000000,201712,Feb,02,PRODUITS FINIS EXON√âR√âS,40916.60,83466.75,40.9 k‚Ç¨,83.5 k‚Ç¨
2,000000000,201712,Mar,03,PRODUITS FINIS EXON√âR√âS,64832.82,148299.57,64.8 k‚Ç¨,148.3 k‚Ç¨
3,000000000,201712,Apr,04,PRODUITS FINIS EXON√âR√âS,48396.90,196696.47,48.4 k‚Ç¨,196.7 k‚Ç¨
4,000000000,201712,May,05,PRODUITS FINIS EXON√âR√âS,44719.45,241415.92,44.7 k‚Ç¨,241.4 k‚Ç¨
5,000000000,201712,Jun,06,PRODUITS FINIS EXON√âR√âS,59904.10,301320.02,59.9 k‚Ç¨,301.3 k‚Ç¨
6,000000000,201712,Jul,07,PRODUITS FINIS EXON√âR√âS,49540.65,350860.67,49.5 k‚Ç¨,350.9 k‚Ç¨
7,000000000,201712,Sep,09,PRODUITS FINIS EXON√âR√âS,48302.80,399163.47,48.3 k‚Ç¨,399.2 k‚Ç¨
8,000000000,201712,Oct,10,PRODUITS FINIS EXON√âR√âS,55081.15,454244.62,55.1 k‚Ç¨,454.2 k‚Ç¨
9,000000000,201712,Nov,11,PRODUITS FINIS EXON√âR√âS,44492.10,498736.72,44.5 k‚Ç¨,498.7 k‚Ç¨
10,000000000,201712,Dec,12,PRODUITS FINIS EXON√âR√âS,50667.11,549403.83,50.7 k‚Ç¨,549.4 k‚Ç¨
11,000000000,201812,Jan,01,PRODUITS FINIS EXON√âR√âS,41602.29,41602.29,41.6 k‚Ç¨,41.6 k‚Ç¨
12,000000000,201812,Feb,02,PRODUITS FINIS EXON√âR√âS,37467.92,79070.21,37.5 k‚Ç¨,79.1 k‚Ç¨
13,000000000,201812,Mar,03,PRODUITS FINIS EXON√âR√âS,51952.85,131023.06,52.0 k‚Ç¨,131.0 k‚Ç¨
14,000000000,201812,Apr,04,PRODUITS FINIS EXON√âR√âS,48923.29,179946.35,48.9 k‚Ç¨,179.9 k‚Ç¨
15,000000000,201812,May,05,PRODUITS FINIS EXON√âR√âS,55113.09,235059.44,55.1 k‚Ç¨,235.1 k‚Ç¨
16,000000000,201812,Jun,06,PRODUITS FINIS EXON√âR√âS,67334.60,302394.04,67.3 k‚Ç¨,302.4 k‚Ç¨
17,000000000,201812,Jul,07,PRODUITS FINIS EXON√âR√âS,63284.60,365678.64,63.3 k‚Ç¨,365.7 k‚Ç¨
18,000000000,201812,Sep,09,PRODUITS FINIS EXON√âR√âS,49574.30,415252.94,49.6 k‚Ç¨,415.3 k‚Ç¨
19,000000000,201812,Oct,10,PRODUITS FINIS EXON√âR√âS,51820.05,467072.99,51.8 k‚Ç¨,467.1 k‚Ç¨
20,000000000,201812,Nov,11,PRODUITS FINIS EXON√âR√âS,46634.60,513707.59,46.6 k‚Ç¨,513.7 k‚Ç¨
21,000000000,201812,Dec,12,PRODUITS FINIS EXON√âR√âS,38219.63,551927.22,38.2 k‚Ç¨,551.9 k‚Ç¨

## Output

### Sauvegarde des fichiers en csv

In [5]:
save_df(dataset_evol_ca, output_folder_path)

‚úÖ DataFrame saved in: /home/ftp/FEC-engine/outputs/FEC/dataset_evolution_ca/20230601154912_FEC_dataset_evolution_ca.csv