<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# FEC - Cr√©ation du dataset "Tr√©sorerie"

**Tags:** #fec #finance #snippet #operation #tr√©sorerie #tft

**Author:** [Florent Ravenel](https://www.linkedin.com/in/florent-ravenel/)

**Description:** Ce notebook permet de cr√©er le dataframe pour visualiser l'√©volution de la tr√©sorerie avec les entr√©es et sorties de cash et la position √† travers les mois.

## Input

### Import libraries

In [1]:
import naas_data_product

‚úÖ utils file '/home/ftp/FEC-engine/utils/datalake.ipynb' successfully loaded.

### Setup Variables

In [2]:
# Inputs
input_folder_path = "/home/ftp/FEC-engine/outputs/FEC/bdd_fin"

# Outputs
output_folder_path = "/home/ftp/FEC-engine/outputs/FEC/dataset_tresorerie"

## Model

### R√©cup√©ration du dernier fichier input

In [3]:
df_input = get_last_df(input_folder_path)
print("‚úÖ Row fetched:", len(df_input))
df_input.head(1)

üìÅ Last file: /home/ftp/FEC-engine/outputs/FEC/bdd_fin/20230601154259_FEC_bdd_fin.csv
‚úÖ Row fetched: 4532

,NOM_FICHIER,ENTITY,PERIOD,DATE,MONTH,MONTH_INDEX,COMPTE_NUM,RUBRIQUE_N3,RUBRIQUE_N4,DEBIT,CREDIT,VALUE
0,000000000FEC20181231.txt,000000000,201812,2018-01-01,Jan,1,20500000,"BREVETS, LICENCES, LOGICIELS..",A Nouveau,4006.6,0.0,4006.6

### Cr√©ation du dataset "TRESORERIE"

In [4]:
# Creation du dataset tr√©sorerie
dataset_treso = df_input.copy()

# Filtre RUBRIQUE_N1 = TRESORERIE
dataset_treso = dataset_treso[
    dataset_treso["COMPTE_NUM"].str.contains(r"^5")
].reset_index(drop=True)

# Cash in / Cash out ?
dataset_treso.loc[dataset_treso.VALUE > 0, "CASH_IN"] = dataset_treso.VALUE
dataset_treso.loc[dataset_treso.VALUE < 0, "CASH_OUT"] = dataset_treso.VALUE

# Regroupement
to_group = ["ENTITY", "PERIOD", "MONTH", "MONTH_INDEX"]
to_agg = {"VALUE": "sum", "CASH_IN": "sum", "CASH_OUT": "sum"}
dataset_treso = dataset_treso.groupby(to_group, as_index=False).agg(to_agg).fillna(0)

# Cumul par p√©riode
dataset_treso = dataset_treso.sort_values(["ENTITY", "PERIOD", "MONTH_INDEX"])
dataset_treso["MONTH_INDEX"] = pd.to_datetime(
    dataset_treso["MONTH_INDEX"], format="%m"
).dt.strftime("%m")
dataset_treso["VALUE_LINE"] = dataset_treso.groupby(
    ["ENTITY", "PERIOD"], as_index=True
).agg({"VALUE": "cumsum"})

# Mettre en valeur positive CASH_OUT
dataset_treso["CASH_OUT"] = dataset_treso["CASH_OUT"].abs()

# Formatting
dataset_treso["VALUE_D"] = (dataset_treso["VALUE"] / 1000).map("{:,.1f} k‚Ç¨".format).str.replace(",", " ")
dataset_treso["CASH_IN_D"] = (dataset_treso["CASH_IN"] / 1000).map("{:,.1f} k‚Ç¨".format).str.replace(",", " ")
dataset_treso["CASH_OUT_D"] = (dataset_treso["CASH_OUT"] / 1000).map("{:,.1f} k‚Ç¨".format).str.replace(",", " ")
dataset_treso["VALUE_LINE_D"] = (dataset_treso["VALUE_LINE"] / 1000).map("{:,.1f} k‚Ç¨".format).str.replace(",", " ")

# Affichage du mod√®le de donn√©e
dataset_treso

,ENTITY,PERIOD,MONTH,MONTH_INDEX,VALUE,CASH_IN,CASH_OUT,VALUE_LINE,VALUE_D,CASH_IN_D,CASH_OUT_D,VALUE_LINE_D
4,000000000,201712,Jan,01,129503.90,168471.60,38967.70,129503.90,129.5 k‚Ç¨,168.5 k‚Ç¨,39.0 k‚Ç¨,129.5 k‚Ç¨
3,000000000,201712,Feb,02,-6594.49,42205.15,48799.64,122909.41,-6.6 k‚Ç¨,42.2 k‚Ç¨,48.8 k‚Ç¨,122.9 k‚Ç¨
7,000000000,201712,Mar,03,267.46,41521.46,41254.00,123176.87,0.3 k‚Ç¨,41.5 k‚Ç¨,41.3 k‚Ç¨,123.2 k‚Ç¨
0,000000000,201712,Apr,04,-60412.14,65481.71,125893.85,62764.73,-60.4 k‚Ç¨,65.5 k‚Ç¨,125.9 k‚Ç¨,62.8 k‚Ç¨
8,000000000,201712,May,05,7139.11,119644.49,112505.38,69903.84,7.1 k‚Ç¨,119.6 k‚Ç¨,112.5 k‚Ç¨,69.9 k‚Ç¨
6,000000000,201712,Jun,06,26363.71,44719.45,18355.74,96267.55,26.4 k‚Ç¨,44.7 k‚Ç¨,18.4 k‚Ç¨,96.3 k‚Ç¨
5,000000000,201712,Jul,07,16816.88,172363.85,155546.97,113084.43,16.8 k‚Ç¨,172.4 k‚Ç¨,155.5 k‚Ç¨,113.1 k‚Ç¨
1,000000000,201712,Aug,08,170.32,23093.20,22922.88,113254.75,0.2 k‚Ç¨,23.1 k‚Ç¨,22.9 k‚Ç¨,113.3 k‚Ç¨
11,000000000,201712,Sep,09,-3680.61,14201.45,17882.06,109574.14,-3.7 k‚Ç¨,14.2 k‚Ç¨,17.9 k‚Ç¨,109.6 k‚Ç¨
10,000000000,201712,Oct,10,-3668.05,43058.55,46726.60,105906.09,-3.7 k‚Ç¨,43.1 k‚Ç¨,46.7 k‚Ç¨,105.9 k‚Ç¨
9,000000000,201712,Nov,11,18870.12,60357.15,41487.03,124776.21,18.9 k‚Ç¨,60.4 k‚Ç¨,41.5 k‚Ç¨,124.8 k‚Ç¨
2,000000000,201712,Dec,12,4396.09,56460.05,52063.96,129172.30,4.4 k‚Ç¨,56.5 k‚Ç¨,52.1 k‚Ç¨,129.2 k‚Ç¨
16,000000000,201812,Jan,01,132509.26,208173.54,75664.28,132509.26,132.5 k‚Ç¨,208.2 k‚Ç¨,75.7 k‚Ç¨,132.5 k‚Ç¨
15,000000000,201812,Feb,02,-6059.03,67563.49,73622.52,126450.23,-6.1 k‚Ç¨,67.6 k‚Ç¨,73.6 k‚Ç¨,126.5 k‚Ç¨
19,000000000,201812,Mar,03,18211.00,40688.92,22477.92,144661.23,18.2 k‚Ç¨,40.7 k‚Ç¨,22.5 k‚Ç¨,144.7 k‚Ç¨
12,000000000,201812,Apr,04,-2945.59,52252.91,55198.50,141715.64,-2.9 k‚Ç¨,52.3 k‚Ç¨,55.2 k‚Ç¨,141.7 k‚Ç¨
20,000000000,201812,May,05,2908.59,119923.29,117014.70,144624.23,2.9 k‚Ç¨,119.9 k‚Ç¨,117.0 k‚Ç¨,144.6 k‚Ç¨
18,000000000,201812,Jun,06,12662.18,47011.09,34348.91,157286.41,12.7 k‚Ç¨,47.0 k‚Ç¨,34.3 k‚Ç¨,157.3 k‚Ç¨
17,000000000,201812,Jul,07,39688.70,161599.04,121910.34,196975.11,39.7 k‚Ç¨,161.6 k‚Ç¨,121.9 k‚Ç¨,197.0 k‚Ç¨
13,000000000,201812,Aug,08,-293.38,12410.00,12703.38,196681.73,-0.3 k‚Ç¨,12.4 k‚Ç¨,12.7 k‚Ç¨,196.7 k‚Ç¨
23,000000000,201812,Sep,09,-5807.46,22178.10,27985.56,190874.27,-5.8 k‚Ç¨,22.2 k‚Ç¨,28.0 k‚Ç¨,190.9 k‚Ç¨
22,000000000,201812,Oct,10,1462.36,51089.45,49627.09,192336.63,1.5 k‚Ç¨,51.1 k‚Ç¨,49.6 k‚Ç¨,192.3 k‚Ç¨
21,000000000,201812,Nov,11,18122.44,111872.04,93749.60,210459.07,18.1 k‚Ç¨,111.9 k‚Ç¨,93.7 k‚Ç¨,210.5 k‚Ç¨
14,000000000,201812,Dec,12,-6471.55,44678.42,51149.97,203987.52,-6.5 k‚Ç¨,44.7 k‚Ç¨,51.1 k‚Ç¨,204.0 k‚Ç¨

## Output

### Sauvegarde des fichiers en csv

In [5]:
save_df(dataset_treso, output_folder_path)

‚úÖ DataFrame saved in: /home/ftp/FEC-engine/outputs/FEC/dataset_tresorerie/20230601155129_FEC_dataset_tresorerie.csv